## docker-compose para correr wordpress con una base de datos en mysql
## by maximoprog
version: "3.8"
services:
  mysql:
    container_name: mysql-maximo
    image: mysql:8.0
    ports:
      - 3306:3306
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql-data:/var/lib/mysql
  phpmyadmin:
    container_name: phpmyadmin-maximo
    image: phpmyadmin:latest
    links:
      - mysql:db
    ports:
      - 8081:80
    environment:
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: root
